<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YaskawaEncoderListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <YaskawaEncoderListener.Properties.Settings>
            <setting name="ExportFolderPath" serializeAs="String">
                <value>D:\diamant</value>
            </setting>
            <setting name="ColumnIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlarmText" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartupDelay" serializeAs="String">
                <value>60000</value>
            </setting>
        </YaskawaEncoderListener.Properties.Settings>
    </userSettings>
</configuration>
